<%-include("header") -%>

<div class="container about">
    <h3 class="text-center text-white" style="font-family: 'Princess Sofia', cursive;">
        Welcome to SnapGen
    </h3>
    <p class="text-center">
        snapgen is an image generator which collects images from unsplash.
        unsplash have a large set of images and also provides a free public api which is used to create this website.
        Feel Free to search.
    </p>
    <h5 style="font-family: 'Princess Sofia', cursive; color: white;">
        Thank You
    </h5>
</div>

<%-include("footer") -%>