<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&family=Princess+Sofia&display=swap"
    rel="stylesheet">

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>

<body>
  <nav>
    <nav class="navbar navbar-expand-lg mx-3 p-3">
      <div class="container-fluid">
        <a class="navbar-brand" href="#"
          style="font-family: 'Princess Sofia', cursive; color: white; font-size: 50px;">SnapGen</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
          aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link " aria-current="page" href="#">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">contact</a>
            </li>
            
          </ul>
        </div>
      </div>
    </nav>
  </nav>
  <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1708869801/59e13e2e-5f68-437a-bc88-7736d463136f.png"
    alt="" class="moon">
  <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1708870628/ec4c2a91-77b9-4a40-a098-a7fb92073ed4.png"
    alt="" class="saturn">
  <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1708870957/dcae3ae0-edd0-4339-8db4-7990eea93062.png"
    alt="" class="rocket">
  <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1708872048/3b72751b-bf4c-487a-929b-1f6bda85fec5.png"
    alt="" class="ufo">
  <img src="https://res.cloudinary.com/dq7brjjnz/image/upload/v1708872279/d9751dc1-f677-4941-b3d7-87128e233881.png"
    alt="" class="alien">
  <div class="main-container">
    <div class="main2">