<%-include("header") %>
<div class="banner">
    <h1 id="snap">SnapGen</h1>
    <div class="form ">
        <form action="/" method="post">
            <input type="text" name="querys" placeholder="Whats on you're mind?">
            <button type="submit">search</button>
        </form>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        
            <% for(i=0;i<9;i++){ %>
            <div class="col-6  my-3">
            <img src=<%= iddd[i] %> alt="" class="img-fluid">
            </div>
            <% } %>
        
    </div>
    </div>


<%-include("footer") %>



